@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Montserrat:ital,wght@0,300;0,400;0,500;1,400&display=swap");

:root {

    --montserrat: 'Montserrat', sans-serif;
    --cinzel: 'Cinzel Decorative', cursive;
}

* {
    outline: none;
    box-sizing: border-box;
    color: #0a0c08;
    padding: 0;
    margin: 0;
    font-family: var(--);
}
