.logo {
	filter: invert(1);
	padding: 1rem;
}
.container {
	padding: 1rem 1.2rem;
}
.welcomeText {
	font-weight: 600;
	font-size: 1.9rem;
	margin-bottom: 1.6rem;
}

.trendingSection .trendingSectionTitle {
	font-weight: 500;
	font-size: 22px;
	margin-bottom: 1rem;
}
